aiohttp
aiohttp-retry
aiosignal
annotated-types
anyio
async-timeout
attrs
blinker
cachelib
certifi
charset-normalizer
click
colorama
dataclasses-json
faiss-cpu
Flask
Flask-Cors
Flask-Session
Flask-SQLAlchemy
frozenlist
future
greenlet
idna
importlib-metadata
itsdangerous
Jinja2
jproperties
jsonpatch
jsonpointer
langchain
langchain-community
langchain-core
langchain-text-splitters
langsmith
MarkupSafe
marshmallow
multidict
mypy-extensions
numpy
openai
orjson
packaging
pyasn1
pydantic
pydantic_core
PyJWT
PyMySQL
pyngrok
pytz
PyYAML
redis
regex
requests
rsa
six
sniffio
SQLAlchemy
SQLAlchemy-Utils
tenacity
tiktoken
tqdm
twilio
typing-inspect
typing_extensions
urllib3
Werkzeug
yarl
zipp
pickle-mixin
cosine_similarity
scikit-learn
flask_socketio
eventlet
